<div class="row">
  <div class="col-lg-12">
    <div class="jumbotron">
      <h1 class="animated fadeInRight">The Blogament Host Application</h1>
        <p>Integrating with Devise, OAuth, or any third pary authentication. </p>
        <p><%= link_to "See the posts", blogament.posts_path, class: "btn btn-primary btn-lg" %></p>
    </div>
  </div>
</div>
