<div class="row">
  <div class="col-lg-12">
    <div class="jumbotron">
      <h1>Code Club</h1>
        <p>Reading 100 lines, a week at a time</p>
        <p><a class="btn btn-primary btn-lg">Learn more</a></p>
    </div>
  </div>
</div>
